<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtdev5.geesmssdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="wm_appid" android:value=""/> <!--此处value填写appid，需登录后台获得-->
        <meta-data android:name="wm_appkey" android:value=""/><!--此处value填写appkey，需登录后台获得-->


    </application>

</manifest>